<!DOCTYPE html>
<html>
    <head>
        <title>None</title>
        <meta charset="utf-8"></meta>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script defer>
            

            var app = angular.module("app", [])
            var controller = app.controller("cont", ($scope)=>{
                $scope.auto_increment = 0
                $scope.words = [];
                async function async_word(){
                            let ran_word = await fetch("https://random-word-api.herokuapp.com/word?number=1&lang=es")
                            $scope.word = "Esperando Palabra..."
                            let json = await ran_word.json()
                            return json
                            
                        }
                $scope.getWord = () => {
                    async_word().then(
                        (res) => {
                            $scope.words.push({
                                content : res[0],
                                id: $scope.auto_increment
                            })
                            $scope.auto_increment += 1
                        }
                    ).catch(
                        (err) => {
                        alert(err)
                        console.error(err)
                    })
                }
                $scope.deleteWord = (obj) => {
                    let index = $scope.words.indexOf(obj)
                    $scope.words.splice(index, 1)
                }
            })
        </script>
    </head>
    <body ng-app="app" ng-controller="cont">
        <div class="container bg-primary" style="height: 100%;">
            <p  class="p-1">
                
            </p>
            <button ng-click="getWord()" class="btn bg-warning">
                Generate Word
            </button>
            <table class="table table-dark table-strip">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Word
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="word in words">
                        <th>
                            {{word.id}}
                        </th>
                        <th>
                            {{word.content}}
                        </th>
                        <th>
                            <button class="btn btn-danger"
                            ng-click="deleteWord(word)">Delete Word</button>                            
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </body>
</html>